/*----------( GLOBALS: )---------*/
	
	object:hover { border: 0 none; } /* http://markmail.org/message/fd43pqqw255k324k */
	
/*----------( PENCIL LEAVE BEHIND: )---------*/
	
	#billboard {
		text-align: center;
		height: 30px; /* Use an inline 'height' style if tease ad is shorter/taller than 30px. */
		background: #fff url(../img/loader.gif) no-repeat center center;
	}
		#billboard object,
		#billboard div {
			width: 100% !important;
			height: 100% !important;
		}
		#billboard object {
			margin: 0 auto;
			display: block;
		}
		#billboard div {
			display: none; /* JS controls visibility. */
			overflow: hidden; /* Otherwise we get scrollbars. */
		}
	#billboard { overflow: auto !important; } /* Needed for Firefox! See: http://dev.jquery.com/ticket/4872 */

/*----------( PAGE PEEL: )---------*/
	
	#peel {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 999;
		width: 100px;
		height: 100px;
		text-align: right;
		overflow: hidden;
		display: none; /* JS controls visibility. */
	}
	
#pushdown {
	width: 970px; /* Restrict width so off-stage animation doesn't overflow */
	height: 90px; /* Use an inline 'height' style if tease ad is shorter/taller than 90px. */
	background: #fff url(../img/loader.gif) no-repeat center center;
	/* For retina displays: */
	-moz-background-size: 24px 24px;
	-ie-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	overflow: auto !important; /* Needed for Firefox! See: http://dev.jquery.com/ticket/4872 */
}
	#pushdown object,
	#pushdown div {
		width: 100% !important;
		height: 100% !important;
	}
	#pushdown object {
		margin: 0 auto;
		display: block;
	}
		#pushdown object:hover { border: 0 none; } /* http://markmail.org/message/fd43pqqw255k324k */
	#pushdown div {
		display: none; /* JS controls visibility. */
		overflow: hidden; /* Otherwise we get scrollbars. */
	}
	
	.leaderboard,
	.mediumrectangle{
		margin: 24px auto;
	}
		.ad_unit{
			margin: 6px auto;
		}

	/* ==============================
	   Item > Ads
	   ============================== */
		.ad_title{
			margin: 12px 0 6px;
			text-align: center;
		}

/* [ S ] 4 columns */
@media only screen and (min-width: 725px) {
	
	.leaderboard{
		margin: 24px -39px;
	}
	
}
/* [ M ] 6 columns */
@media only screen and (min-width: 1065px) {
	.billboard-collapsed,
	.billboard-expanded{
		margin: 0 -10px;
	}
	.leaderboard{
		margin: 20px auto;
	}
	
}